.like-counter {
    color: #000;
    text-decoration: none;
    margin-right: 5px;
  }
  .liked {
    font-weight: bold;
  }

  header{
    background-color:black;
    height:38px;
    width:101%;
    margin-left:-10px;
    margin-top:-8px;
}

/*Menu e a tecla HOME*/
.header h3{
    float:left;
    color:white;
    font-size:30px;
    margin-top:0px;
}


.header ul{
    margin: 0;
    background-color:black;
    list-style: none;
    float: right;
    margin-top:3px;
   }
   .header ul li{
    display: inline;
 
   }
   .header ul li a{
    padding: 2px 10px;
    display: inline-block;
    color: white ;
    text-decoration: none;
    
   }
   .header ul li a:hover{
    background-color:red;
   }

   .header a h3:hover{
    background-color:red;
   }   


/*TITULO*/
.titulo h1{
    font-size:80px;
    text-align: center;
    font-family:  cursive
}


/*imagem e texto*/

#conteudo{
    margin-left:15%;
    margin-right:15%;
    height:auto;
    background-color: oldlace;
}

#conteudo img{
     width:85%;
     height:400px;
     margin: 0 70px;
}
#conteudo p{
    font-family: arial;

}

#conteudo h2{
  text-align: center;
  font-size: 60px;
}

/*curtidas*/
.like{
  float:left;
  margin-top:-500px;
}

/*comentarios*/
.comentarios{
  float: right;
}